.main {
  height: calc(100vh - 74px);
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: scroll;
  touch-action: none;
}


@media only screen and (max-width: 700px) {
  .main {
    display: block;
    /*overflow: auto;*/
    overflow-y: auto;
    overflow-x: hidden;
  }
}