
.viewWrapper {
    display: flex;
    overflow: hidden;
}
.productView {
    height: 150px;
    min-width: 100px;
    object-fit: contain;
    margin: 10px;
    cursor: pointer;
    border-right: 2px;
    transition:all 1s ease;
    opacity: 0.6;
    filter: grayscale(100%);
}
.imgDiv {
    display: inline-block;
    /*margin: 20px;*/
    overflow: hidden;
}
/*.imgDiv:hover {*/
/*    transform: scale(1.1);*/
/*}*/
.imgDiv:hover img {
    transform: scale(1.3);
    transform-origin: 50% 10%;
    filter: grayscale(0%);
    opacity: 1;
}