
.viewWrapper {
    display: flex;
    overflow: hidden;
}
.productView {
    height: 150px;
    min-width: 100px;
    object-fit: contain;
    margin: 10px;
    cursor: pointer;
    border-right: 2px;
    transition:all 1s ease;
    opacity: 0.6;
    filter: grayscale(100%);
}
.imgDiv {
    display: inline-block;
    /*margin: 20px;*/
    overflow: hidden;
}

.imgDiv:hover img {
    transform: scale(1.3);
    transform-origin: 50% 10%;
    filter: grayscale(0%);
    opacity: 1;
}

.closeBtn {
    outline: none;
    background: transparent;
    border: 1px solid #ecdf9b;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 5px 10px;
    height: 42px;
    width: 42px;
    transition: 0.5s all ease-in-out;
}

.closeBtn:hover {
    background-color: #fff;
    transform: scale(1.2);
    color: white;
}
